<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<!--监听器 -->  
	<listener>  
   	 	<listener-class>listener.MyObjectListener</listener-class>  
	</listener> 
	<listener>  
   	 	<listener-class>listener.MyAttributeListener</listener-class>  
	</listener>   
  	<filter>
    	<filter-name>zFilter</filter-name>
    	<filter-class>filter.ZFilter</filter-class>
  	</filter>
  	<filter-mapping>
    	<filter-name>zFilter</filter-name>
    	<url-pattern>/*</url-pattern>
  	</filter-mapping>
	<filter>
		<filter-name>firstFilter</filter-name>
		<filter-class>filter.FirstFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>firstFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
